:root {
    --color-grey-dark: rgba(31,31,31,255);
    --color-black-dark: rgba(10,10,10,255);
    --color-black-medium: rgba(26,26,26,255);
    --color-white: rgba(255,255,255,255);
    --color-red-standard: rgba(158,34,34,255);
    --color-purple-standard: rgba(160,100,187,255);
    --color-blue-standard: rgba(60,100,187,255);
    --color-grey-standard: rgba(202, 202, 202,255);

    --font-size-huge: 1.9rem;
    --font-size-large: 1.5rem;
    --font-size-mid: 1.2rem;
    --font-size-small: 0.8rem;

    --font-family: sans-serif;

}



body{
    display: grid;
    align-items: center;
    background-color: var(--color-black-medium);
    font-family: var(--font-family)
    
}



.main-section {
    background-color: var(--color-black-medium);
    border-radius: 10px;
    margin-top: 10%;
    display: flex;
    gap: 5%;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
}



h2 {
    color: var(--color-black-medium);
    text-align: center;
    font-size: var(--font-size-huge);
}



.blue-div, .red-div {
    height: 22.5rem;
    width: 15rem;
    border-radius: 15px;
    backdrop-filter: blur(5px);
    overflow: hidden;
    background-color: var(--color-black-dark);
    background-position: center;
    transition: all 0.5s ease;
    transform-style: preserve-3d;
}
.blue-div:hover,
.red-div:hover{
    background-position: 80%;
    transform:  rotateY(30deg) rotateX(5deg);
    
}
.blue-div {
    
    box-shadow: 0 0 10px 5px var(--color-blue-standard),       /*Meaning Box-Shadow Values: */
                0 0 20px 5px var(--color-blue-standard),       /*offset-x offset-y blur-radius spread-radius color;*/
                0 0 40px 5px var(--color-blue-standard);
}
.red-div {
    box-shadow: 0 0 10px 5px var(--color-red-standard),
                0 0 20px 5px var(--color-red-standard),
                0 0 40px 5px var(--color-red-standard);
}



.blue-date-div,
.red-date-div {
    position: fixed;
    margin-left: 1rem;
    margin-top: 3rem;
    background-color: var(--color-black-dark);
    width: 4em;
    height: 4rem;
    padding: 0.4rem;
    border-radius: 8px;
    overflow: hidden;
    justify-items: left;
    transform-style: preserve-3d;
    transition: transform 0.3s ease;
    
}
.blue-date-div:hover,
.red-date-div:hover {
    cursor: pointer;
    transform: translateX(1rem) translateY(-0.5rem) translateZ(2rem);
}
.blue-date-div {
    box-shadow: 0 0 10px 5px rgb(60, 100, 187);
}
.red-date-div {
    box-shadow: 0 0 10px 5px var(--color-red-standard);
}
.month-text {
    color: var(--color-white);
    margin: 0%;
    font-size: var(--font-size-mid);
}
.blue-day-number, .red-day-number {
    color: var(--color-white);
    margin-top: 0%;
    font-size: var(--font-size-huge);
    font-weight: bold;
}
.blue-day-number {
    color: var(--color-blue-standard);
}
.red-day-number {
    color: var(--color-red-standard)
}



img {
    height: 30%;
    width: 100%;
    object-fit: cover;
    border-top: 10px;
}



h3 {
    font-size: var(--font-size-large);
    margin-left: 1rem;
    padding-top: 15%;
    margin-bottom: 0%;
    color: var(--color-white);
    transform-style: preserve-3d;
    transition: transform 0.3s ease;
}



.card-text-section{
    height: 7.5em;
    overflow: hidden;
    margin-bottom: 0.3rem;
}
.card-text {
    color: var(--color-grey-standard);
    font-size: var(--font-size-small);
    margin-left: 1rem;
    margin-right: 1rem;
    transform-style: preserve-3d;
    transition: transform 0.3s ease;
}
.card-text:hover,
h3:hover {
    cursor: pointer;
    transform: translateX(1rem) translateY(-0.5rem) translateZ(2rem);
}



.blue-link, 
.red-link {
    margin-left: 1rem;
    text-decoration: none;
    font-weight: bolder;
    font-size: var(--font-size-mid);
    transform-style: preserve-3d;
    transition: transform 0.3s ease;
}
.blue-link {
    color: var(--color-blue-standard);
}
.red-link { 
    color: var(--color-red-standard);
}